<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Dashboard info</h2>

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <h3 class="fs-2">Connected wallet</h3>
          <p>Your wallet address is: {{ walletAddress }}</p>
        </div>
        <div class="feature col">
            <h3 class="fs-2">Balance of Wallet</h3>
            <p>Your wallet balance is: {{ etherBalance }} ETH</p>
         </div>
    </div>
</div>
    


